.bg-container {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 45px;
}
@media screen and (max-width: 577px) {
  .main-heading {
    font-size: 30px;
  }
}
.discription {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 25px;
}

@media screen and (max-width: 577px) {
  .discription {
    font-size: 15px;
  }
}

.btn {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffffff;
}
